{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Patients</h4>
                                <a class="btn btn-primary" href="{% url 'base:addPatient' %}"><i class="fa fa-plus"></i>Add Patient</a>
                            </div>
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                    <th>
                                        <div class="form-check"> 
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th> <span class="f-light f-w-600">MRN</span></th>
                                    <th> <span class="f-light f-w-600">Name</span></th>
                                    <th> <span class="f-light f-w-600">Age</span></th>
                                    <th> <span class="f-light f-w-600">ID Number</span></th>
                                    <th> <span class="f-light f-w-600">Marital Status</span></th>
                                    <th> <span class="f-light f-w-600">Gender</span></th>
                                    <th> <span class="f-light f-w-600">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for patient in patients %}
                                        <tr class="product-removes">
                                            <td>
                                                <div class="form-check"> 
                                                    <input class="form-check-input checkbox-primary" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <p class="f-light">{{ patient.mrn }}</p>
                                            </td>
                                            <td> 
                                                <div class="product-names">
                                                    <div class="light-product-box">
                                                        {% if patient.image %}
                                                            <img class="img-fluid" src="{{ patient.image.url }}" alt="{{ patient.name }}">
                                                        {% else %}
                                                            <img class="img-fluid" src="{% static 'images/not-found.jpg' %}" alt="{{ patient.name }}">
                                                        {% endif %}
                                                    </div>
                                                    <p>{{ patient.name }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="f-light">{{ patient.age }} Years</p>
                                            </td>
                                            <td>
                                                <p class="f-light">{{ patient.id_number }}</p>
                                            </td>
                                            <td>
                                                <p class="f-light">{{ patient.marital_status }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ patient.gender }}</p>
                                            </td>
                                            <td> 
                                                <div class="product-action">
                                                    <a href="{% url 'base:getPatient' patient.mrn %}"> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 36 36"><path fill="#000" d="M33.62 17.53c-3.37-6.23-9.28-10-15.82-10S5.34 11.3 2 17.53l-.28.47l.26.48c3.37 6.23 9.28 10 15.82 10s12.46-3.72 15.82-10l.26-.48Zm-15.82 8.9C12.17 26.43 7 23.29 4 18c3-5.29 8.17-8.43 13.8-8.43S28.54 12.72 31.59 18c-3.05 5.29-8.17 8.43-13.79 8.43" class="clr-i-solid clr-i-solid-path-1"/><circle cx="18.09" cy="18.03" r="6.86" fill="currentColor" class="clr-i-solid clr-i-solid-path-2"/><path fill="none" d="M0 0h36v36H0z"/></svg>
                                                    </a>
                                                    <a href="{% url 'base:editPatient' patient.mrn %}"> 
                                                        <svg>    
                                                            <use href="{% static 'svg/icon-sprite.svg#edit-content' %}"></use>
                                                        </svg>
                                                    </a>
                                                    <form method="post" action="{% url 'base:deletePatient' patient.mrn %}" style="display: inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline" onclick="return confirm('Are you sure you want to delete this patient ({{ patient.name }})?');">
                                                            <svg>
                                                                <use href="{% static 'svg/icon-sprite.svg#trash1' %}"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}