{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
    <title>AOF - Admin</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'frontend/images/logo/logo-black.png' %}">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/icofont.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/themify.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/feather-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/owlcarousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/js-datatables/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body>

    <div class="tap-top">
        <i data-feather="chevrons-up"></i>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        {% include 'inc/header.html' %}

        <div class="page-body-wrapper">
            {% include 'inc/sidebar.html' %}


            <div class="page-body">

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        icon: '{% if message.tags %}{{ message.tags }}{% endif %}',
                        title: '{{ message }}',
                        showConfirmButton: false,
                        timer: 5000
                    });
                {% endfor %}
            {% endif %}
        });
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'js/scrollbar/custom.js' %}"></script>
    <script src="{% static 'js/sidebar-menu.js' %}"></script>
    <script src="{% static 'js/js-datatables/simple-datatables@latest.js' %}"></script>
    <script src="{% static 'js/custom-list-product.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>